# operators in python

## 6 types of operators in python
1. arithematic operators
2. assignment operators
3. comparision operators
4. logical operators
5. membership operators
6. identity operators

In [2]:
# arithematic operators - +,-,*,/,//,%
a=10
b=20
c=20
d=30
print(a+b)
print(b-c)
print(b*d)
print(d/a)
print(d//a)
print(d%a)

30
0
600
3.0
3
0

In [3]:

# assignment operator - +=,-=,*=,/=,//=,%=
a = 100
a+=50
print (a)

150

In [4]:
b=200
b-=400
print(b)

-200

In [5]:

c = 50
c*=100
print (c)

5000

In [7]:
# comparision operators - >,<,<=,>=,==,!=
a = 10
b=20
c=20
d = 30
print(a>b)
print(b==c)
print (b<c)
print (b!=c)
print(b>=a)
print(b<=a)

False
True
False
False
True
False

In [11]:

# logical operator- and,or,not
"""
and - both conditions are true then result is true, rest case its false
or - either one condition is true the result is true , rest case its false

AND  truth table
T T = T
T F = F
F T =  F
F F = F 

OR TRUTH TABLE 
T T = T
T F = T
F T = T 
F F =  F

"""

A=10
B=20
C=20
D=30
print(a>b and b==c)
print( a<b and c==b)
print( a>b or b==c)
print ( not a>b and b ==c)

False
True
True
True

In [13]:

# memebership operators - in,not in
# validating memebers are present in that sequence or group
names = [ "KEREN", "EEKSHITHA","SANVIKA","YASHASREE"]
print ("KEREN" in names)
print ( " SANVIKA" not in names)
print ("KEREN" not in names)
print (" DOLLY" in names)

True
True
False
False

In [14]:

# identity operators- is,is not
a = 10000
b=10000
print ( a is b )
print ( id(a))
print (id(b))

False
1945472791824
1945472781616

In [15]:

a = 10
b=10
print (a is b )
print ( id(a))
print( id (b))

True
140729468417224
140729468417224